@model List<DJApp_MVC.Models.Songs>
@{
    ViewBag.Title = "SongsByArtist";
}

<h2>Songs By @Model.FirstOrDefault().SongArtist</h2>
@foreach (var song in Model)
{
    <div class="row">
        <div class="col-sm-12"><a href="@Url.Action("ConfirmPlay", "DJ", new {songId=song.SongSpotifyId, songTitle=song.SongTitle})">@song.SongTitle</a></div>

        @if (song.SongImageUrl != null)
        {
            <div class="col-sm-12">
                <a href="@Url.Action("ConfirmPlay", "DJ", new {songId=song.SongSpotifyId, songTitle=song.SongTitle})">
                    <img src="@song.SongImageUrl" style="height:100px;width:auto;" class="img-responsive rounded-circle">
                </a>
            </div>
        }
    </div>
}
